# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\HTML\HTML\exercise\JAVASCRIPT-COURSE\complete-javascript-course-master\complete-javascript-course-master\12-Numbers-Dates-Timers-Bankist\bankAccount\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
